img {
  width: 100%;
}

/* .landing {
  position: relative;
  background: url('./img/instagram.png') no-repeat;
  background-size: Contain;
  background-repeat: no-repeat;
  background-position:  left; 
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -48px;
} */

.landing-inner {
  padding-top: 80px;
}

/* .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}  */

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/* new style */

.navbar {
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

footer {
  background: #833ab4; 
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* new style */

.black-font {
  color: black;
  
}

.btn {
  background-color: #3897f0;
  color: #ffffff;
}

.instaphone {
  width: 350px;
}

.landing {
  background-color: #fafaf8; 
  color: black;
}

nav {
  background: #833ab4! important; 
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4)! important; 
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4)! important; 
}

.navbar-letter {
  color: black! important;
}
.black-font {
  color: black;
}

.lightgray-font {
  color: lightgray! important;

}

.gray-font {
  color: gray! important;
}

.instagram-logo {
  font-family: 'Norican', cursive;
}